/*@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);*/

#ldapinfo-tooltip {
  margin: 0px;
  padding: 0px;
  border: 0px none !important;
}

#ldapinfo-tooltip-rows > row:nth-child(odd) {
  background-color: InfoBackground !important;
}

#ldapinfo-tooltip-rows > row:nth-child(even) {
  background-color: #ffffc0 !important;
}

#displayLDAPPhoto[orient="horizontal"] {
  flex: 1 1;
  -moz-box-flex: 1;
  overflow: auto;
  min-width: 300px;
  display: block;
}

/* not support yet https://bugzilla.mozilla.org/show_bug.cgi?id=702508 */
@supports (flex-wrap: wrap) {
  #displayLDAPPhoto[orient="horizontal"] {
    display: flex;
    flex-wrap: wrap;
  }
}

image.ldapInfoLoadingQueue {
  border: 1px dotted blue !important;
}

image.ldapInfoLoading {
  border: 1px dashed red !important;
}

.ldapInfoPopupDetailColumn {
  max-width: 600px !important;
}

#ldapinfoshow-perfpane {
  overflow: auto;
  min-width: 600px;
}